# Overview {{ ctxtitle }}

{% for key in ctxdict %}
## {{ key }}: {{ ctxdict[key]|length }} repos 

| Repo                    | GIT Summary|
| ----------------------- | ---------- |
{% for entry in ctxdict[key] %}| {{ entry['fullname']}}  | [summary]({{entry['url']}}) |
{% endfor %}

To clone the corresponding repos, run the following commands:
~~~
{% for entry in ctxdict[key] %}git clone {{entry['gitclone']}}
{% endfor %}
~~~

{% endfor %}
