# Overview {{ ctxtitle }}

{% for key in ctxdict %}
## {{ key }}: {{ ctxdict[key]|length }} repos 

| Repo                    | GIT Summary|
| ----------------------- | ---------- |
{% for entry in ctxdict[key] %}| {{ entry['fullname']}}  | [summary]({{entry['url']}}) |
{% endfor %}

{% endfor %}
