# Oveview {{ ctxtitle }}

{% for key in ctxdict %}
## {{ key }} {{ ctxdict[key]|length }} repos 

| Repo                    | URL     |
| ----------------------- | ---------- |
{% for entry in ctxdict[key] %}| {{ entry['fullname']}}  | {{entry['url']}} |
{% endfor %}

{% endfor %}
